:root{
    --body-font: 'Inter', sans-serif;
    --body-font-size: 15px;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
body{
    margin: 60px 100px;
    padding: 0;
    min-height: 100vh;
    background-color: var(--Off-white);
    font-size: var(--body-font-size);
    font-family: var(--body-font); 
}
nav{
    width: 99%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-block:30px ;
}
nav img{
    align-self: flex-start;
}
nav ul{
    list-style-type: none; 
}
nav ul li{
    display: inline;
    padding-right: 80px;
    font-size: 1.2rem;
}
nav ul li:hover{
    color: var(--soft-red);
    cursor: pointer;
}
nav ul li:last-of-type{
    padding-right: 0px;
}
 #menu-open{
    display: none;
}
  #menu-close{
    display: none;
}
.main{
    display: flex;
    flex-direction: row; 
    gap: 30px;
}
.main .first{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main .first img{
    width: 100%;
}
.main img:last-of-type{
    display: none;
}
.main .first .second-section{ 
    display: flex;  
    padding-top: 30px; 
    justify-content: space-around; 
    width: 100%;
     
}
.main .second-section .main-head{ 
    width: 100%; 
 
}
.main .second-section .main-head h1{
    font-size: 5rem;  
    font-weight: 900;
    margin: 0;
    padding-right: 2rem; 
}
.main .second-section .main-content{ 
    width: 100%;  
}
 
.main .second-section .main-content p{ 
    font-weight: 200;
    color: var(--dark-grayish-blue);  
    font-size: 1.4rem;
    line-height: 35px;
    word-spacing: 5px; 
    padding-bottom: 10px;
}
.main .second-section .main-content button{
    background-color: var(--soft-red);
    border: none;
    outline: none;
    padding: 20px 45px;
    font-weight: 700;
    color: var(--Off-white);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.2rem;
}
.main .second-section .main-content button:hover{
    background-color: var(--very-dark-blue);
    cursor: pointer;
}
.black{
    width: 42%;
    padding: 40px 40px 0px 40px;
    background-color: var(--very-dark-blue);
}
.black h1{
    color: var(--soft-orange);
    margin: 0; 
    font-size: 3.5rem;
}
.black .que-sec .question{
    font-weight: 700;
    color: var(--Off-white);
    font-size: 1.8rem;
}
.black .que-sec .question:hover{
    color: var(--soft-orange);
    cursor: pointer;
}
.black .que-sec p{
    color: var(--grayish-blue); 
    font-size: 1.3rem;
    text-wrap:wrap;
    line-height: 30PX;
}
.black .que-sec{
    padding-block: 20px;
    border-bottom: 1px solid var(--grayish-blue);
}
.black .que-sec:first-of-type{
    padding-top: 0;
}
.black .que-sec:last-of-type{
    border-bottom: none;
    padding-bottom: 0px;
}
.footer{
    width: 100%;
    display: flex;
    margin-top: 50px; 
    padding: 0;
    gap:30px ;
}
section{
    width: 33%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
} 
.footer section img{
    width: 100px;
    height: auto;
}
.footer section .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer section h1{
    color: var(--grayish-blue);
    font-size: 3rem;
    padding: 0;
    justify-self: flex-start;
    align-self: flex-start;
    margin: 0;
}
.footer section .footer-content .heading:hover{
    color: var(--soft-red);
    cursor: pointer;
}
.footer section .footer-content .heading{
    font-weight: 800;
    font-size: 1.8rem;
}
.footer section .footer-content p{
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    line-height: 30px;
    word-spacing: 3px;
    padding-right: 30px;
}

@media (min-width:100px) and (max-width:376px) {
    body{
        margin: 15px;
    }
   nav{
    width: 100%;
}
    .first img:first-of-type{
        display: none;
    }
    .first img:last-of-type{
        display: flex;
        width: 100%;
    } 
    nav ul{
        display: none;
    }
    .nav-items{
        padding-top: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around; 
    } 
    #rectangle{
        display: none;
    }
    .list-items{ 
        font-size: 1rem;
    }
    .white-rect{ 
        position: absolute;
        top: 0;
        left: 30%;
        width: 70%;
        background-color: white;
        box-shadow: rgba(0, 0, 0,.5) 0px 1px 0px 140px;
        gap: 50px;
        padding: 0px;
        height: 100vh;  
    }
    .main{
        flex-direction: column;
    }
    .main .first .second-section {
        gap: 0px;
        width: 100%;
    }
    .main .second-section .main-head h1{ 
        font-size: 2.8rem;
        padding: 0;
    }
 .main .second-section  .main-content p{
        padding: 0;
        font-size: 1.2rem;
        width: 100%;
        line-height: 25px;
        word-spacing: 0px;
    }

      #menu-open{
        display: flex;
        align-self: flex-start;    
        z-index: 2;
    }
    .second-section{
        flex-direction: column;
    }
    .footer{
        margin-top: 50px;
        flex-direction: column;
        gap: 30px; 
    }
    .footer section{ 
        gap: 20px;
        padding: 0;
    }
    section img{
        width: 35%;
    }
    .black{
        width: 85%;
        padding: 0px 25px;
    }
    .black h1{
        padding-top: 20px;
    }
    .footer section{
        width: 100%;
    }
    .footer section .footer-content .heading{
        font-weight: 800;
        font-size: 1.12rem;
    }
    .footer section h1{ 
        font-size: 2.3rem; 
        
    }
    .footer section .footer-content p{ 
        font-size: 1.1rem;
        line-height: 20px; 
    }
}